pre {
	background: #C4CBB7;
    padding: .5em 1em;
    font-size: 13pt;
    overflow-x: auto;
}

.add {
	background-color: #a6f3a6;
}

.remove {
	background-color: #f8cbcb;
}

.note {
	background: #5CBBF5;
}